*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  line-height: 1.8;
  color: #fff;
  background-color: #7eb4e2;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container p {
  width: 100%;
  text-align: center;
  z-index: 1;
}

.yellowtail-regular {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}

.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jacquarda-bastarda-9-regular {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.architects-daughter-regular {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

.svg-wrap {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.underlined span {
  position: relative;
  display: inline-block;
  outline: none;
  color: #404d5b;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}

.underlined::before, .underlined::after {
  backface-visibility: hidden;
  font-smoothing: antialiased;
}

.underlined span svg.link-svgline {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 20px; 
  transform: translateY(-90%);
  fill: none;
  stroke: #b1d474;
  stroke-width: 5;
  stroke-dasharray: 400px; 
  stroke-dashoffset: 0px;
}

.stupid {
  font-size: 150%;
  color: #f31313;
  text-shadow: rgba(243,19,19,0.8) 0px 0px 55px;
}

.code {
  color: #0000;
  background: repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 30% 0/2500px 2500px,
              repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 30% 50%/2500px 2500px;
  background-blend-mode: difference;
  mix-blend-mode: lighten;
  -webkit-background-clip: text;
  background-clip: text;
}

.elabelling {
  font-size: 200%;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
